<form action="http://127.0.0.1:5000/login" method="post">
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      id="username"
      name="username"
      placeholder="Username"
      type="text"
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      id="password"
      name="password"
      placeholder="Password"
      type="password"
    />
  </div>
  <p><a href="https://www.freecodecamp.org/">Forgot Password?</a></p>
  <button class="btn btn-primary" type="submit">Log In</button>
</form>
