@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins&display=swap');
.form-label {
    font-size: medium;
    margin-bottom: 0px;
}

div.mb-3 {
    display: block;
    width: 100%;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 2rem 4rem 3rem 2rem;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    border: 0.5px solid grey;
    margin-top: 1.5rem;
    font-family: 'Courier Prime', monospace;
    font-family: 'Poppins', sans-serif;
    position:relative;
}

.error-message {
    position: absolute;
    bottom: 0;
}